# CONFIGURACIÓN DEL SERVIDOR NODE.JS
PORT=

# CREDENCIALES DE POSTGRESQL (DOCKER & NODE)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Host y puerto interno para la conexión
DB_HOST=
DB_PORT=

# SEGURIDAD Y AUTENTICACIÓN
JWT_SECRET=
JWT_EXPIRES_IN=24h